alembic==1.7.7
blinker==1.5
certifi==2021.5.30
click==8.0.3
dataclasses
dnspython==1.16.0
email-validator
Flask
Flask-Admin
Flask-Login
Flask-Mail==0.9.0
Flask-Migrate==4.0.0
flask-paginate==2022.1.8
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
importlib-resources==5.4.0
itsdangerous
Jinja2
Mako==1.1.6
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp
